body{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 10%;
}
h6{
    color: grey;
}
.text-center{
    margin-top: 10%;
}
footer{
    margin-top: 10%;
    text-align: center;
    color: black
}
