body{
    background-image: url(../D-3/foto/haha.jpg);
    color: white;
    font-family: 'Cardo', serif;
}

.header{
    text-align: center;
    margin-top: 50px;
}

h3, h2{
    font-style: italic;
}

.content{
    text-align: center;
}

img{
    width: 100px;
}

input{
    width: 100px;
    cursor: pointer;
}
button{
    padding: 20px;
    background-color: yellow;
    border-radius: 50px;
    font-weight: bold;
}

.btn img{
    width: 15px;
}